@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@

<style>
    /* Styles for your <ul> menu */
    #headerDiv ul {
        background: #F6F6F6;
        margin: 0 auto;
        padding: 28px 0 0;
        text-align: center;
        width: auto;
    }

        /* Styles for individual <li> elements */
        #headerDiv ul li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }



            /* Hover style for your links */
            #headerDiv ul li a:hover {
                background: #3D515F !important;
                border-radius: 5px;
                color: black;
            }

            /* A more specific style for your "active" link */
            #headerDiv ul li a.active {
                background-color: #008CBA !important;
                border-color: #000000;
                border-bottom: 5px solid #9b0e0e;
            }

    /* Specific hover style for your active link */
    #headerheaderDiv ul li a.active:hover {
        color: yellow;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        background-color: #008CBA !important;
        color: #fff;
    }
</style>



<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="drop5" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="font-size:larger; font-weight:bolder ">NAVIGATION MENU<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="menu2P" aria-labelledby="drop5">
                        <li><a href="../../Assessment/Index/@Model.IntakeAssPar">Assessment</a></li>
                        <li><a href="../../PCMPreliminary/Home/@Model.IntakeAssPar">Court Processes</a></li>
                        <li><a href="../../PCMHBS/Home/@Model.IntakeAssPar">Home Base Supervision</a></li>
                        <li><a href="../../Diversion/HomeIndex/@Model.IntakeAssPar">Diversion</a></li>
                        <li><a href="../../PCMPretrail/Home/@Model.IntakeAssPar">Pre-Trial</a></li>
                        <li><a href="../../Assessment/IndexPre/@Model.IntakeAssPar">Pre-sentence</a></li>
                        <li><a href="../../PCMReferrals/Home/@Model.IntakeAssPar">Referrals</a></li>
                    </ul>
                </li>
            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="rootwizard" style="height:auto;">

    <div id="headerDiv">

        <ul class="nav nav-tabs" data-tabs="tabs" id="myTab222Div1">

            <li id="t2Div1">
                <a data-toggle="tab" href="#Div1" aria-selected="true" data-id="Div1" data-tab="tab1" id="Two">Diversion</a>
            </li>
            <li id="t1Div2">
                <a data-toggle="tab" href="#Div2" aria-selected="true" data-id="Div2" data-tab="tab1" id="one">Session Outcome</a>
            </li>

            <li id="t1h1Div3">
                <a data-toggle="tab" href="#Div3" aria-selected="true" data-id="Div3" data-tab="tab1" id="one1">Diversion Outcome</a>
            </li>

            <li id="t1h2Div4">
                <a data-toggle="tab" href="#Div4" aria-selected="true" data-id="Div4" data-tab="tab1" id="one2">Programme Evaluation Report</a>
            </li>

        </ul>
    </div>

    <div class="tab-content" id="section">

        <div class="tab-pane fade in active" id="Div1" role="tabpanel">
            <h3>Diversion</h3>
            @Html.Action("Index", "Diversion")


        </div>

        <div class="tab-pane" id="Div2" role="tabpanel">
            <h3>Session Outcome</h3>
            @*<p>@Html.Action("Index", "PCMDSessionOutcome")</p>*@

        </div>

        <div class="tab-pane" id="Div3" role="tabpanel">
            <h3>Diversion Outcome</h3>

            @*@Html.Action("Index", "PCMDDiversionOutcome")*@

        </div>

        <div class="tab-pane" id="Div4" role="tabpanel">
            <h3>Programme Evaluation Report</h3>

            @*<div class="panel-body">@Html.Action("Index", "PCMDiversionPE")</div>*@

        </div>

    </div>

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script type="text/javascript">

    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('#myTab222Div1 a[href="' + activeTab + '"]').tab('show');
        }


    });

    localStorage.setItem("Tab", "");

  




    $('#myTab222Div1 a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });



    function ajaxindicatorstop() {
        jQuery('#resultLoading .bg').height('100%');
        jQuery('#resultLoading').fadeOut(300);
        jQuery('body').css('cursor', 'default');
    }

    function ajaxindicatorstart(text) {
        var spinnerLocation = $.url('/Images/ajax-loader.gif');

        if (jQuery('body').find('#resultLoading').attr('id') != 'resultLoading') {
            jQuery('body').append('<div id="resultLoading" style="display:none"><div><img src="' + spinnerLocation + '"><div>' + text + '</div></div><div class="bg"></div></div>');
        }

        jQuery('#resultLoading').css({
            'width': '100%',
            'height': '100%',
            'position': 'fixed',
            'z-index': '10000000',
            'top': '0',
            'left': '0',
            'right': '0',
            'bottom': '0',
            'margin': 'auto'
        });

        jQuery('#resultLoading .bg').css({
            'background': '#000000',
            'opacity': '0.7',
            'width': '100%',
            'height': '100%',
            'position': 'absolute',
            'top': '0'
        });

        jQuery('#resultLoading>div:first').css({
            'width': '250px',
            'height': '75px',
            'text-align': 'center',
            'position': 'fixed',
            'top': '0',
            'left': '0',
            'right': '0',
            'bottom': '0',
            'margin': 'auto',
            'font-size': '16px',
            'z-index': '10',
            'color': '#ffffff'

        });

        jQuery('#resultLoading .bg').height('100%');
        jQuery('#resultLoading').fadeIn(300);
        jQuery('body').css('cursor', 'wait');
    }

    jQuery(document).ajaxStart(function () {
        //show ajax indicator
        ajaxindicatorstart('loading data.. please wait..');
    }).ajaxStop(function () {
        //hide ajax indicator
        ajaxindicatorstop();
    });

</script>


