<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - SDIIS</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    
        <style>
            .modal-content {
                max-width: 90% !important;
                margin: 30px auto !important;
            }
        </style>
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <script type="text/javascript">
        function ajaxindicatorstop() {
            jQuery('#resultLoading .bg').height('100%');
            jQuery('#resultLoading').fadeOut(300);
            jQuery('body').css('cursor', 'default');
        }

        function ajaxindicatorstart(text) {
            var spinnerLocation = $.url('/Images/ajax-loader.gif');

            if (jQuery('body').find('#resultLoading').attr('id') != 'resultLoading') {
                jQuery('body').append('<div id="resultLoading" style="display:none"><div><img src="' + spinnerLocation + '"><div>' + text + '</div></div><div class="bg"></div></div>');
            }

            jQuery('#resultLoading').css({
                'width': '100%',
                'height': '100%',
                'position': 'fixed',
                'z-index': '10000000',
                'top': '0',
                'left': '0',
                'right': '0',
                'bottom': '0',
                'margin': 'auto'
            });

            jQuery('#resultLoading .bg').css({
                'background': '#000000',
                'opacity': '0.7',
                'width': '100%',
                'height': '100%',
                'position': 'absolute',
                'top': '0'
            });

            jQuery('#resultLoading>div:first').css({
                'width': '250px',
                'height': '75px',
                'text-align': 'center',
                'position': 'fixed',
                'top': '0',
                'left': '0',
                'right': '0',
                'bottom': '0',
                'margin': 'auto',
                'font-size': '16px',
                'z-index': '10',
                'color': '#ffffff'

            });

            jQuery('#resultLoading .bg').height('100%');
            jQuery('#resultLoading').fadeIn(300);
            jQuery('body').css('cursor', 'wait');
        }

        jQuery(document).ajaxStart(function () {
            //show ajax indicator
            ajaxindicatorstart('loading data.. please wait..');
        }).ajaxStop(function () {
            //hide ajax indicator
            ajaxindicatorstop();
        });

        </script> 

    </head>
    <body>
        <p class="site-title">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Images/SocialDevelopmentLogo.jpg" alt="Department of Social Development" />
            </a>
        </p>
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <div id="navMenuContainer"></div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - SDIIS Portal</p>
            </footer>
        </div>
    
        <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-content">
            
            </div>
        </div>
    
        <script type="text/javascript">
            var menuLoaded = false;

            $(document).ready(function () {
                if ($('#navMenuContainer')[0].innerHTML.trim() == "") {
                    $.ajax({
                        url: "@Url.Content("~/Home/MenuLayout")",
                        type: "GET",
                        success: function (response, status, xhr) {
                            var navContainer = $('#navMenuContainer');
                            navContainer.html(response);
                            menuLoaded = true;
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            var navContainer = $('#navMenuContainer');
                            navContainer.html(response);
                        }
                    });
                }
            });
        </script>
    </body>
</html>

<script type="text/javascript">
    // create a function for getting the root path
    $.url = function (url) {
        var hostString = window.location.protocol + "//" + window.location.host;

        var path = '@Request.ApplicationPath';
        if (path != '/') path = path + '/';

        if (url.startsWith('/')) {
            url = url.substring(1);
        }
        
        var fullPath = hostString + path + url;

        return fullPath;
    }
</script>