@model IEnumerable<Common_Objects.Models.User>
@using GridMvc.Html

@{
    ViewBag.Title = "Agents Page";
}

<h3>@ViewBag.Message</h3>


<div class="panel panel-primary form-horizontal" style=" width:100% !important">
    <div class="panel-heading" style="text-align: center; vertical-align: middle !important;">
        <div class="row">
            <div class="col-md-11 vcenter">
                @Html.Label("Users")
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-info pull-right" })
            </div>
        </div>
    </div>
    <div class="panel-body" style="height: 400px; overflow:hidden">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(x => x.First_Name).Titled("First Name").Sortable(true);
                        columns.Add(x => x.Last_Name).Titled("Last Name").Sortable(true);
                        columns.Add(x => x.Is_Active).Titled("Is Active?").Sortable(true);
                        columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b> @Html.ActionLink("Edit", "Edit", new { id = d.User_Id }, new { @class = "btn btn-success" }) </b>);
                        columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b> @Html.ActionLink("Delete", "Delete", new { id = d.User_Id }, new { @class = "btn btn-danger" }) </b>);
                    }).WithPaging(5)
                </div>
            </div>
        </div>
    </div>
</div>
