@model  Common_Objects.Models.User_Reset_Password

@{
    ViewBag.Title = "Login";
}

<h3>Please provide a Username to perform a password reset</h3>

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center">
            Reset Password
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.Username, new { @class = "control-label" })
                </div>
                <div class="col-md-3 form-group">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.OldPassword, new { @class = "control-label" })
                </div>
                <div class="col-md-3 form-group">
                    @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.NewPassword, new { @class = "control-label" })
                </div>
                <div class="col-md-3 form-group">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.ConfirmNewPassword, new { @class = "control-label" })
                </div>
                <div class="col-md-3 form-group">
                    @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                </div>
            </div>

            @ViewBag.Message

        </div>

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="panel-footer">

            <input type="submit" id="ButtonReset" value="Reset" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Index", "Home", null, new { id = "cancelLink", @class = "btn btn-danger" })

        </div>

    </div>
}
