
@model Common_Objects.ViewModels.PCMHBSViewModel
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading" style="text-align: center">
        Home Base Court OutCome: <span style="color:white;font-weight: bolder; font-size:large; text-shadow: 2px 2px grey; ">Child Ref (@ViewBag.ModuleRef)</span>
    </div>

    <div class="container" style="margin-top:3%">


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>HB_CourtOutcome_Id</th>
                    <th>Remand</th>
                    <th>Reason_Remand</th>
                    <th>Court_Outcome</th>
                    <th>Action(Edit)</th>

                </tr>
            </thead>
            <tbody id="SetCourtOutComeList">
                <tr id="LoadingStatus" style="color:red"></tr>
            </tbody>
        </table>

        @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

        <div class="modal fade in center" id="MyModalCourtOutCome">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 id="ModalTitle"></h4>
                    </div>


                    <div class="modal-body">
                        <form id="formCourtOutCome">
                            <fieldset id="SubmitFormCourtOutCome">
                                @Html.HiddenFor(m => m.HB_CourtOutcome_Id, new { @id = "HB_CourtOutcome_Id" })
                                @Html.HiddenFor(m => m.Intake_Assessment_Id, new { @id = "Intake_Assessment_Id" })


                                <div class="row">
                                    <div class="col-md-4">
                                        @*@Html.LabelFor(model => model.Remand)*@
                                        Remand
                                    </div>
                                    <div class="col-md-8 form-group">


                                        @Html.HiddenFor(m => m.Remand, new { @id = "Remand", @class = "form-control", @Remand = "Remand*" })

                                        <input type="radio" name="user_optionscu" id="rds_1" value="Yes" /> Yes
                                        <input type="radio" name="user_optionscu" id="rds_2" value="No" /> No

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Reason for remand
                                    </div>
                                    <div class="col-md-8 form-group">
                                        @Html.TextAreaFor(m => m.Reason_Remand, new { @id = "Reason_Remand", @class = "form-control", rows = 6, columns = 70, @placeholder = "" })
                                        @Html.ValidationMessageFor(model => model.Reason_Remand, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Court outcome
                                    </div>
                                    <div class="col-md-8 form-group">
                                        @Html.TextAreaFor(m => m.Court_Outcome, new { @id = "Court_Outcome", @class = "form-control", rows = 6, columns = 70, @placeholder = "" })
                                        @Html.ValidationMessageFor(model => model.Court_Outcome, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Case status
                                    </div>
                                    <div class="col-md-4 form-group">
                                        @Html.DropDownListFor(x => x.HB_Case_Status_Id, new SelectList(Model.CaseStatus_Type, "HB_Case_Status_Id", "HB_Case_Status"), "-Select Case Status-", new { @id = "HB_Case_Status_Id", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.HB_Case_Status_Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-2 form-group">
                                        <a href="#" class="btn btn-block btn-success" id="SaveCourtOutComeRecord">Save</a>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @*Create A PopUp Modal For DeleteConfirmation*@

        <div class="modal fade" id="DeleteCourtOutComeConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4>Delete Student Record</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Are You Sure? You Want To Delete This Record.</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                        <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>

        $("#LoadingStatus").html("Loading....");

        $.get("../../PCMHBS/GetCourtOutComeList", null, DataBind);
        function DataBind(List) {
            var SetDataHBS = $("#SetCourtOutComeList");
            for (var i = 0; i < List.length; i++) {
                var Data = "<tr class='row_" + List[i].HB_CourtOutcome_Id + "'>" +
                    "<td>" + ToJavaScriptDatett(List[i].Placement_Date) + "</td>" +
                    "<td>" + List[i].Remand + "</td>" +
                    "<td>" + List[i].Reason_Remand + "</td>" +
                    "<td>" + List[i].Court_Outcome + "</td>" +
                    "<td>" + "<a href='#' class='btn btn-warning' onclick='EditCourtOutComeRecord(" + List[i].HB_CourtOutcome_Id + ")' ><span class='glyphicon glyphicon-edit'></span></a>" + "</td>" +
                  
                    "</tr>";
                SetDataHBS.append(Data);
                $("#LoadingStatus").html(" ");

            }
        }

        //Show The Popup Modal For Add New Student

        function AddCourtOutCome(HB_CourtOutcome_Id) {
            $("#formCourtOutCome")[0].reset();

            $("#ModalCourtOutComeTitle").html("Add Court Outcome");
            $("#MyModalCourtOutCome").modal();

        }

        function EditCourtOutComeRecord(HB_CourtOutcome_Id) {
            var url = "/PCMHBS/GetCourtOutComeById?HB_CourtOutcome_Id=" + HB_CourtOutcome_Id;
            $("#ModalCourtOutComeTitle").html("Update Court OutCome");
            $("#MyModalCourtOutCome").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#HB_CourtOutcome_Id").val(obj.HB_CourtOutcome_Id);
                    $("#Intake_Assessment_Id").val(obj.Intake_Assessment_Id);

                    $("#Remand").val(obj.Remand);
                    var value = $("#Remand").val();
                    if (value == "Yes") {
                        $("#rds_1").prop("checked", true);
                        $("#rds_2").prop("checked", false);
                    }
                    else {
                        $("#rds_2").prop("checked", true);
                        $("#rds_1").prop("checked", false);
                    }
           

                    $("#Reason_Remand").val(obj.Reason_Remand);
                    $("#Court_Outcome").val(obj.Court_Outcome);

                    $("#HB_Case_Status_Id option:selected").text(obj.HB_Case_Status);
                    $("#HB_Case_Status_Id option:selected").val(obj.HB_Case_Status_Id);
                }
            })
        }

        $("#SaveCourtOutComeRecord").click(function () {
            var data = $("#formCourtOutCome").serialize();
            $.ajax({
                type: "Post",
                url: "../../PCMHBS/CreateCourtOutcome",
                data: {

                    HB_CourtOutcome_Id: $("#HB_CourtOutcome_Id").val(),
                    Intake_Assessment_Id: $("#Intake_Assessment_Id").val(),
                    Reason_Remand: $("#Reason_Remand").val(),
                    Next_Court_Date: $("#Next_Court_Date").val(),
                    Court_Outcome: $("#Court_Outcome").val(),
                    HB_Case_Status_Id: $("#HB_Case_Status_Id").val(),

                    Remand: $('input:radio[name=user_optionscu]:checked').val(),

                },
                success: function (result) {
                    alert("Success!..");

                    $.getJSON('../../PCMHBS/GetCourtOutComeList', function (data) {

                        var items = $("#SetCourtOutComeList");
                        $.each(data, function (i, p) {
                            items +=

                                "</td><td>" + ToJavaScriptDatett(p.Placement_Date) +
                            "</td><td>" + p.Remand +
                            "</td><td>" + p.Reason_Remand +
                            "</td><td>" + p.Court_Outcome +
                            "</td><td>" + "<a href='#' class='btn btn-warning' onclick='EditCourt(" + p.HB_CourtOutcome_Id + ")' ><span class='glyphicon glyphicon-edit'></span></a>" +
                                "</td></tr>";
                        });
                        items += "</table>";

                        $('#SetCourtOutComeList').html(items);
                    });
                   
                    $("#MyModalCourtOutCome").modal("hide");

                }
            })
        })


        function ToJavaScriptDatett(value) {


            if (value == null || value == '') {
                return 0;
            }

            else {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return (dt.getDate() + "/" + dt.getMonth() + 1) + "/" + dt.getFullYear();
            }


        }
    </script>



